.header
  %nav.navbar.navbar-default{role: "navigation"}
    %ul.header
      - if user_signed_in?
        %li  
          #{link_to "Log Off", destroy_user_session_path, method: 'delete'}
        %li
          = checkout_link  
        %li.invisible
          = shop_icon_quantity
        %li
          %p
            Hello, #{current_user.name}
      - else  
        %li
          %a{href: "users/sign_up"} Sign Up
        %li
          %a{href: "users/sign_in"} Log In

%span
  =image_tag "logo.jpg"

.menu
  %h1 Menu

- @products.each do |product|
  .div{id: dom_id(product)}
    %table
      %td= product.name
      %td= product.description
      %td= product.price
      %td= product.category
      %td= add_to_cart(product, 1, 'Add to cart')