%nav.navbar.navbar-default{role: "navigation"}
  %ul.nav.navbar-nav
    %li
      - if user_signed_in?
        %p
          Hello, #{current_user.name} - #{link_to "Sign_out", destroy_user_session_path, method: 'delete'}
    %li
      = checkout_link
    %li
      %a{href: "users/sign_up"} Sign Up
    %li
      %a{href: "users/sign_in"} Log in
    %li
      = shop_icon_quantity

%h1 Menu

- @products.each do |product|
  .div{id: dom_id(product)}
    %table
      %td= product.name
      %td= product.description
      %td= product.price
      %td= product.category
      %td= add_to_cart(product, 1, 'Add to cart')