%nav.navbar.navbar-default{role: "navigation"}
  %ul.nav.navbar-nav
    %li
      %a{href: "#"} Cart
    %li
      %a{href: "users/sign_up"} Sign Up
    %li
      %a{href: "users/sign_in"} Log in

%h1 Menu
- @products.each do |product|
  = product.name 
  = product.description 
  = "#{product.price} SEK"
  = product.category

